$primary-color: slateblue;
$secondary-color: wheat;

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: rgba(0, 0, 0, 0.87);

  .container {
    h1 {
      color: $secondary-color;
    }

    p {
      margin-top: -15px;
      color: $secondary-color;
    }
  }

  .search {
    .input-keyword {
      color: white;
      background-color: transparent;
    }

    .input-keyword:focus {
      color: white;
      outline: 2px solid $primary-color;
    }

    .search-button {
      background-color: transparent;
      border-color: white;
    }

    .search-button:hover {
      background-color: white;
      color: $primary-color;
    }

    .search-button:focus {
      outline: 2px solid $primary-color;
    }
  }

  .card {
    background-color: rgba($color: black, $alpha: 0.1);
    box-shadow: 0 0 10px 5px rgba($color: black, $alpha: 0.4);

    .card-title {
      color: $secondary-color;
    }

    .modal-detail-button {
      color: $primary-color;
      border-color: $primary-color;
    }

    .modal-detail-button:hover {
      background-color: $primary-color;
      color: white;
    }
  }
}

.modal {
  // background-color: transparent;
  // backdrop-filter: blur(6px);

  .modal-content {
    background-color: rgba($color: #4b4b4b, $alpha: 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px 5px rgba($color: black, $alpha: 0.7);

    .btn-close {
      background-color: white;
    }

    .modal-header {
      border: 0 solid transparent;
    }

    .modal-title {
      color: white;
    }

    .modal-body {
      margin-bottom: 80px;

      .list-group-item {
        background-color: transparent;
        color: white;
        border: 0 solid transparent;
      }

      .list-group-item h4 {
        margin-top: -14px;
      }
    }
  }
}
